// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.footer-area {
  background: #e5ecee;
  padding-top: 0px;
  padding-bottom: 100px;
}


.badge-primary {
    color: #fff;
    background-color: $brand-color;
}

a:hover {
    color: $brand-color;
    text-decoration: underline;
  }

  .btn-primary {
    color: #fff;
    background-color: $brand-color;
    border-color: $brand-color;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: $brand-color-hoover;
    border-color: $brand-color-hoover;
  }


  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: $brand-color;
}

.genric-btn.primary-brand {
    color: #fff;
    background: $brand-color;
    border: 1px solid transparent;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: $brand-color;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: $brand-color;
    color: #fff;
  }

  //card store

	
	.product-card {
		width: 280px;
		position: relative;
		box-shadow: 0 5px 10px #dfdfdf;
		margin: 30px auto;
		background: #fafafa;
	}
	
	.badge1 {
		position: absolute;
		left: 0;
		top: 30px;	
		display: absolute;
		padding: 0.25em 0.4em;
		font-size: 75%;
		font-weight: 700;
		background: rgb(145, 255, 0);
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25rem;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	
	.product-tumb {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 250px;
		padding: 50px;
		background: #f0f0f0;
	}
	
	.product-tumb img {
		max-width: 100%;
		max-height: 100%;
	}
	
	.product-details {
		padding: 30px;
	}
	
	.product-category {
		display: block;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ccc;
		margin-bottom: 18px;
	}
	
	.product-details h4 a {
		font-weight: 500;
		display: block;
		margin-bottom: 18px;
		text-transform: uppercase;
		color: #363636;
		text-decoration: none;
		transition: 0.3s;
	}
	
	.product-details h4 a:hover {
		color: #fbb72c;
	}
	
	.product-details p {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 18px;
		color: #999;
	}
	
	.product-bottom-details {
		overflow: hidden;
		border-top: 1px solid #eee;
		padding-top: 20px;
	}
	
	.product-bottom-details div {
		float: left;
		width: 50%;
	}
	
	.product-price {
		font-size: 18px;
		color: #fbb72c;
		font-weight: 600;
	}
	
	.product-price small {
		font-size: 80%;
		font-weight: 400;
		text-decoration: line-through;
		display: inline-block;
		margin-right: 5px;
	}
	
	.product-links {
		text-align: right;
	}
	
	.product-links button {
		display: inline-block;
		margin-left: 5px;
		color: #e1e1e1;
		transition: 0.3s;
		font-size: 17px;
	}
	
	.product-links button:hover {
		color: #fbb72c;
	}
	.product-links button:border-color {
		color: #000000;
	}
	.product-links button {
		border: none;
		background: none;
	}


  