@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    color: currentColor;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    height: 1.2em;
    width: 1.2em;
}

.form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.dataTables_wrapper {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

table.dataTable.no-footer {
    border-bottom-width: 1px;
    border-color: #d2d6dc
}

table.dataTable tbody td, table.dataTable tbody th {
    padding: 0.75rem 1rem;
    border-bottom-width: 1px;
    border-color: #d2d6dc
}

div.dt-buttons {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    align-items: center
}

.dataTables_filter, .dataTables_info {
    padding: 1rem
}

.dataTables_wrapper .dataTables_paginate {
    padding: 1rem
}

.dataTables_filter label input {
    padding: 0.5rem;
    border-width: 2px;
    border-radius: 0.5rem
}

.dataTables_filter label input:focus {
    box-shadow: 0 0 0 3px rgba(51, 116, 219, 0.45);
    outline: 0
}

table.dataTable thead tr {
    border-radius: 0.5rem
}

table.dataTable thead tr th:not(.text-center) {
    text-align: left
}

table.dataTable thead tr th {
    background-color: #edf2f7;
    border-bottom-width: 2px;
    border-top-width: 1px;
    border-color: #d2d6dc
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button.next:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button.previous:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled), button.dt-button {
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.75rem;
    font-weight: 600;
    align-items: center;
    display: inline-flex;
    border-width: 1px !important;
    border-color: #d2d6dc !important;
    border-radius: 0.375rem;
    background: #3c4ff7 !important;
    overflow: visible;
    margin-bottom: 0
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:focus:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button.previous:focus:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button:focus:not(.disabled), .dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.disabled), button.dt-button:focus, button.dt-button:focus:not(.disabled), button.dt-button:hover, button.dt-button:hover:not(.disabled) {
    background-color: #edf2f7 !important;
    border-width: 1px !important;
    border-color: #d2d6dc !important;
    color: #374151 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:not(.disabled) {
    background: #6875f5 !important;
    color: #ffffff !important;
    border-color: #8da2fb !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #8da2fb !important;
    color: #ffffff !important;
    border-color: #8da2fb !important
}

.dataTables_length select {
    padding: .25rem;
    border-radius: .25rem;
    background-color: #edf2f7;
}

.dataTables_length {
    padding-top: 1.25rem;
}
